/*//////////////////////////////////GENERAL BODY//////////////////////////////////*/
body {
    margin: 0;
    padding: 0;
    background-color: #4EB986;
    background-image: linear-gradient(white,#00B7E1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

section, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #4E82B9;
}
nav{
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 80%;
    padding: 2% 10%;
    border-top: 3px solid #237B4B;
    background-color: #12A579;
}

nav ul {
    padding: 0;
    margin: 0;
    text-align: center;
}

nav li {
    display: inline;
    padding: 0 8%;
}

nav a {
    text-decoration: none;
    color: white;
}

h2, h3{
    color:#4E82B9;
    margin-top: 1%;
}


section{
    background-color: white;
    color: #4EB986;
}
section>p{
    line-height: 150%;
    color: black;
}
button {
    cursor: pointer;
    background-color: transparent;
    border: none;   
    font-size: 1.8em;
    height: 2.2em;
    margin-left: 40%;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: darkgrey;
    background-color: white;
    margin-bottom: 18%;
}   

#top {
    position: fixed;
    bottom: 10%;
    margin-left: 82%;
    float: right;
    text-decoration: none;
    padding: 0.3em 0.5em;
    font-family: sans-serif;
    color: #fff;
    background: #E2CF2B;
    border: 2px solid #a29520;
    border-radius: 100px;
    transition: opacity 0.3s, transform 0.3s;
    font-size: 2em;

    margin-top: calc(0vh + var(--offset));
    --offset: -4%;

    cursor: pointer;
}

.hidden{
    display: none;
}
/*/////////////////////////////////////INDEX/////////////////////////////////////*/

.title{
    text-align: center;
    margin-top: 5%;
    color: black;
}
.invis{
    margin: 0 8%;
    padding: 5% 0;
    color: black;
}

.boxOfFood{
    border-radius: 50%;
    border: 4px solid #237B4B;

}
/*/////////////////////////////////////ABOUT US/////////////////////////////////////*/
.container{
    display: flex;
    width: 80%;
}
.borderb{
    border-bottom: 1px solid black;
}
.sponsor{
    width: 20%;
    height: 20%;
    
    
}
/*/////////////////////////////////////DONATE/////////////////////////////////////*/
.doncontainer{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
}

.numbtn{
    background-color: #E2CF2B;
    color: white;
    text-align: center;
    margin: 0 2% 5% 0;
    padding: 0 4%;
    width: 3.7em;
    border-radius: 20%;
}

#textBox {
    height: 3em;
    width: 11em;
}

.conbtn{
    background-color: #E2CF2B;
    color: white;
    /* text-align: center; */
    /* margin: 0 10% 5% 0; */
    padding: 0 4%;
    border-radius: 20%;
    font-size: 1.5em;
    margin-left: 10%;
}


/*/////////////////////////////////////CONTACT/////////////////////////////////////*/
.green{
    color: #4EB986;
}
